<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430972627615-9fnkthoptq2t93s49sjeolfc0okn3dq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430972627615-9fnkthoptq2t93s49sjeolfc0okn3dq1</string>
	<key>API_KEY</key>
	<string>AIzaSyCEnn4zfAnrF9yqrIjw3PEHNtQVNqX54aw</string>
	<key>GCM_SENDER_ID</key>
	<string>430972627615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sekky-company.kibunya</string>
	<key>PROJECT_ID</key>
	<string>kibunya-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>kibunya-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430972627615:ios:b4f77f35880acf950850aa</string>
	<key>DATABASE_URL</key>
	<string>https://kibunya-dev.firebaseio.com</string>
</dict>
</plist>